table {
    background-color: lightgray;
    width: 50%;
    font-size: 37pt;
    border: 8px;
    border-style: outset;
    border-radius: 5px;
    text-align: center;
 }

 td {
    border: 3px;
    border-style: outset;
 }

 .screen {
    text-align: right;
 }