body {
    font-family: monospace;
    background-color: green;
}

.calculator {
    background-color: turquoise;
    width: 60%;
    height: 90%;
    font-size: 37pt;
    border: 8px;
    border-style: outset;
    border-radius: 0.5em;
    text-align: center;
 }

 td {
    border: 3px;
    border-style: outset;
    border-radius: 0.4em;
 }

 .screen {
    text-align: right;
    padding-right: 0.2em;
    border-style: inset;
    border-radius: 0.2em;
 }

#one  {
    background-color: red;
}
#two  {
    background-color: blue;
}

#three  {
    background-color: red;
}

#four  {
    background-color: blue;
}

#five  {
    background-color: red;
}

#six  {
    background-color: blue;
}

#seven  {
    background-color: red;
}

#eight  {
    background-color: blue;
}

#nine  {
    background-color: red;
}

#zero  {
    background-color: blue;
}

#minus  {
    background-color: blue;
}

#plus  {
    background-color: red;
}

#times  {
    background-color: red;
}

#divide  {
    background-color: blue;
}

#equals  {
    background-color: purple;
}


