body {
	font-family: sans-serif;
}

.gameDiv {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 90%;
    text-align: center;
}

.buttonsDiv > button {
    font-size: 12pt;
}

.buttonsDiv {
    position: absolute;
    transform: translate(-50%, 0);
    top: 0;
    left: 50%;
}

.flagCount(){
    margin: 1em;
}

.winOrLoseDiv {
    z-index: 10;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 30pt;
}
.winOrLoseImage {
	width: 256px;
	height: 256px;
}